# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Save-files 
*.~undo-tree
auto-saves-list/
.emacs_saves/**/*

# Other files
smex-items
ido.last

# Files that I marked as disabled
*.disabled

# always include .gitignore files
!.gitignore

/epkgs/
/epkgs/
