# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Save-files 
*.~undo-tree
auto-saves-list/
.emacs_saves/**/*

# Other files
smex-items
ido.last

# Files that want ignored(useful for testing)
*.ignore

# always include .gitignore files
!.gitignore


var/
dir

/epkgs/
